{% extends 'pagelayout.html' %}

{% block content %}
    <h1> gallery :: create item </h1>

    <form action="/portfolio/gallery_create.php" method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <label for="h_title">
                Title
            </label>
            <input type="text" class="form-text" name="h_title">
        </div>

        <div class="form-group">
            <label for="h_file"Image:></label>
            <input type="file" class="form-control-file" id="h_file" name="h_file">
        </div>

        <!-- <input type="hidden" name="h_url" value="/images/hotels/ship.jpg"> -->

        <div class="form-group">
            <label for="h_desc">Description</label>
            <textarea name="h_desc" class="form-control" id="h_desc" cols="80" rows="5"></textarea>   
        </div>

        <button type="submit" class="btn btn-danger">Submit</button>

    </form>

    <hr>

    <div class="alert alert-warning border-danger">
    {% for d in serv|keys %}
        <dt>{{ d }}</dt> <dd>{{ serv[d] }}</dd>
    {% endfor %}
    </div>

{% endblock %}